body {
    background-color: lightcoral;
    text-align: center;
    font-family: "Delius";
    color: white;
    font-size: medium;
}

a {
    color: white;
}

a:hover {
    color: aqua;
}

nav {
    /* align-content: center; */
    padding: 16px;
    border-radius: 8px;
    margin: 5px;
    background-color: brown;
    text-align: left;
}

nav a {
    font-size: large;
    display: inline;
    padding: 8px;
    border-right:1px solid lightgray;
    text-decoration: none;
}

div {
    margin: auto;
    padding: 10px;
    width: 50%;
    border: 3px solid lightyellow;
    border-radius: 10px;
}

.divprofilepic {
    width: 600px;
    height: 200px;
}

.divprofilepic:hover {
    width: 150px;
}

.title {
    font-weight: bold;
    font-size: x-large;
    border: 2px solid white;
    border-radius: 32px;
}

.title:hover {
    background-color: lightsalmon;
    border: 2px solid aqua;
}

.profilepic {
    width: 100%;
    height: 100%;
}